<!DOCTYPE html>
<html>
<head>
<title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<a href="/logout" class="btn btn-default btn-sm">Logout</a>
</body>
</html>

<% if(friend_list.length != 0) { %>

    <h2>Your Information :</h2>

    <table border=1 cellpadding="5">
    <tr>
        <th>User Name</th>
        <th>User Email</th
    </tr>
    <% friend_list.forEach(function (users) { %>
    <tr>
        <td><%= users.name %></td>
        <td><%= users.email %></td>
    </tr>
    <% }); %>   
    </table>    
<% } else { %>
    <h3>No Friends found</h3>
<% }%>
